DROP DATABASE IF EXISTS pharmacy;
CREATE DATABASE pharmacy;
USE pharmacy;

-- User Table
CREATE TABLE user
(
    user_id  INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50)  NOT NULL,
    email    VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(100) NOT NULL,
    role     VARCHAR(20) DEFAULT 'employee'
);

INSERT INTO user (user_id, username, email, password, role)
VALUES (1, 'admin', 'admin@gmail.com', '123', 'admin'),
       (2, 'isuru', 'isuru@gmail.com', '456', 'employee');

-- Customer Table
CREATE TABLE customer
(
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name        VARCHAR(100) NOT NULL,
    contact     VARCHAR(20)  NOT NULL,
    address     VARCHAR(200)
);




-- Supplier Table
CREATE TABLE supplier
(
    supplier_id   INT AUTO_INCREMENT PRIMARY KEY,
    supplier_name VARCHAR(100) NOT NULL,
    email         VARCHAR(100) NOT NULL,
    contact_num   VARCHAR(20)  NOT NULL
);




-- Medicine Table
CREATE TABLE medicine
(
    medicine_id  INT AUTO_INCREMENT PRIMARY KEY,
    med_name     VARCHAR(200)   NOT NULL,
    brand        VARCHAR(100)   NOT NULL,
    qty_in_stock INT            NOT NULL,
    unit_price   DECIMAL(10, 2) NOT NULL,
    exp_date     DATE           NOT NULL
);



-- Orders Table
CREATE TABLE orders
(
    order_id    INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    user_id     INT,
    total       DECIMAL(10, 2) NOT NULL,
    order_date  DATE DEFAULT (CURRENT_DATE),
    order_time  TIME DEFAULT (CURRENT_TIME),

    FOREIGN KEY (customer_id) REFERENCES customer (customer_id)
        ON DELETE SET NULL ON UPDATE CASCADE,
    FOREIGN KEY (user_id) REFERENCES user (user_id)
        ON DELETE SET NULL ON UPDATE CASCADE
);

-- Order Details Table
-- Links Order + Medicine.
CREATE TABLE order_medicine
(
    order_id    INT,
    medicine_id INT,
    qty         INT            NOT NULL,
    unit_price  DECIMAL(10, 2) NOT NULL,
    line_total  DECIMAL(10, 2) NOT NULL,


    PRIMARY KEY (order_id, medicine_id),

    FOREIGN KEY (order_id) REFERENCES orders (order_id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (medicine_id) REFERENCES medicine (medicine_id)
        ON DELETE CASCADE ON UPDATE CASCADE
);

-- Payment Table
CREATE TABLE payment
(
    payment_id     INT AUTO_INCREMENT PRIMARY KEY,
    order_id       INT            NOT NULL,
    amount         DECIMAL(10, 2) NOT NULL,
    payment_date   TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(20),

    FOREIGN KEY (order_id) REFERENCES orders (order_id)
        ON DELETE CASCADE ON UPDATE CASCADE
);


CREATE TABLE supplier_medicine
(
    supply_id   INT AUTO_INCREMENT PRIMARY KEY,
    supplier_id INT    NOT NULL,
    medicine_id INT    NOT NULL,
    date        DATE   NOT NULL,
    qty         INT    NOT NULL,
    unit_cost   DOUBLE NOT NULL,
    total_cost  DOUBLE NOT NULL,

    FOREIGN KEY (supplier_id) REFERENCES supplier (supplier_id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (medicine_id) REFERENCES medicine (medicine_id)
        ON DELETE CASCADE ON UPDATE CASCADE
);

INSERT INTO supplier_medicine
(supplier_id, medicine_id, date, qty, unit_cost, total_cost)
VALUES
    (1, 1, '2024-01-02', 200, 18.00, 3600.00),
    (1, 2, '2024-01-02', 300, 42.00, 12600.00),
    (1, 3, '2024-01-02', 150, 25.00, 3750.00),
    (8, 4, '2024-01-02', 50, 55.00, 2750.00),
    (8, 5, '2024-01-02', 120, 68.00, 8160.00),
    (8, 6, '2024-01-03', 250, 55.00, 13750.00),
    (8, 7, '2024-01-03', 200, 38.00, 7600.00),
    (3, 8, '2024-01-03', 14, 65.00, 910.00),
    (3, 9, '2024-01-03', 19, 45.00, 855.00);


TABLE customer;
TABLE medicine;
TABLE orders;
TABLE order_medicine;
TABLE supplier;
TABLE payment;
TABLE user;
TABLE supplier_medicine;
SHOW TABLES;



